<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarvelApp</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="./images/Marvellogo.png" width="100px" alt="logo" />
        <ul>
          <li>comics</li>
          <li>peliculas</li>
        </ul>
        <ul>
          <li><a href="/contacto">Contacto</a></li>
          <li>registro</li>
          <li>ingreso</li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Personajes</h2>
        <div>
          <img src="" alt="" />
          <img
            src="./images/133.jpg"
            width="200px"
            alt="imagen de spider-man"
          />
          <p><b>Spider-man</b></p>
          <p>Nombre: <em>Peter Parker</em></p>
          <p>
            Poderes: trepar paredes <br />
            sentido aracnido
          </p>
        </div>
        <div>
          <img src="./images/161.jpg" width="200px" alt="Wolverine" />
          <p>Wolverine</p>
          <p>Nombre: Logan</p>
          <p>Poderes: regeneracion</p>
        </div>
      </section>
    </main>
    <footer>
      <h2>Contacto</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere
        sequi, saepe, id laborum quae accusantium recusandae, culpa
        exercitationem deserunt sunt natus eligendi harum architecto eos fugit
        hic quaerat voluptates?
      </p>
      <p>Copyright 2023</p>
    </footer>
  </body>
</html>
