<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>MarvelApp</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img class="logo" src="./images/Marvellogo.png" alt="logo" />
        <i class="fa-solid fa-bars"></i>
        <ul class="item">
          <li>comics</li>
          <li>peliculas</li>
        </ul>
        <ul class="item">
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/registro">registro</a></li>
          <li>ingreso <i class="fa-solid fa-right-to-bracket"></i></li>
        </ul>
      </nav>
      <div class="banner"></div>
    </header>
    <main>
      <form action="respuesta.js" method="post" class="formulario">
        <label for="apellidoynombre">Apellido y Nombre:</label>
        <input
          type="text"
          name="apellidoynombre"
          id="apellidoynombre"
          placeholder="Perez, Juan"
        />
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" />
        <label for="fecha-nac">Fecha de Nacimiento:</label>
        <input type="date" name="fecha-nac" id="fecha-nac" value="2005-01-01" />

        <label>Metodo pago</label>
        <label for="">Contado: </label>
        <input type="radio" name="metodo-pago" id="" value="contado" />
        <label for="">Tarjeta de credito: </label>
        <input type="radio" name="metodo-pago" id="" value="tarjeta" />
        <label for="">Mercado Pago: </label>
        <input type="radio" name="metodo-pago" id="" value="mercadopago" />
        <label for="ciudad">Ciudad:</label>
        <select name="ciudad" id="ciudad">
          <option value="san-salvador-jujuy">San Salvador de Jujuy</option>
          <option value="palpala">Palpala</option>
          <option value="san-pedro">San Pedro</option>
          <option value="la-quiaca">La Quiaca</option>
          <option value="el-camen" selected>El Carmen</option>
          <option value="perico">Perico</option>
        </select>
        <label for="">foto</label>
        <input type="file" name="" id="" />
        <label for="pass">Contraseña</label>
        <input type="password" name="pass" id="pass" />
        <label for="confirmarpass">Confirmar Contraseña</label>
        <input type="password" name="confirmarpass" id="confirmarpass" />
        <button class="boton" type="reset">Borrar</button>
        <button class="boton" type="submit">Enviar</button>
      </form>
    </main>
    <footer>
      <h3 class="footer-title">Contacto</h3>
      <p class="footer-parrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere
        sequi, saepe, id laborum quae accusantium recusandae, culpa
        exercitationem deserunt sunt natus eligendi harum architecto eos fugit
        hic quaerat voluptates?
      </p>
      <p class="copyright">Copyright 2023</p>
    </footer>
  </body>
</html>
