<footer>
  <h3 class="footer-title">Contacto</h3>
  <p class="footer-parrafo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facere
    sequi, saepe, id laborum quae accusantium recusandae, culpa exercitationem
    deserunt sunt natus eligendi harum architecto eos fugit hic quaerat
    voluptates?
  </p>
  <p class="copyright">Copyright 2023</p>
</footer>
