<header>
  <nav class="navbar">
    <img class="logo" src="./images/Marvellogo.png" alt="logo" />
    <i class="fa-solid fa-bars"></i>
    <ul class="item">
      <li>comics</li>
      <li>peliculas</li>
    </ul>
    <ul class="item">
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/registro">registro</a></li>
      <li>ingreso <i class="fa-solid fa-right-to-bracket"></i></li>
    </ul>
  </nav>
  <div class="banner"></div>
</header>
